<span class="rating-overall" ...attributes>
  <RatingOverallIcon @rating={{this.total}} data-test-rating-overall-icon/>
  <span class="rating-overall__info" data-test-rating-overall-info>{{this.total}} HDR</span>
</span>