<div class="rating-overall-icon" ...attributes>
  <img src="/images/hella-drunk-sign.png" alt="Man In Top Hat Drinking Bottle" class="rating-overall-icon__foreground" data-test-rating-overall-icon-foreground/>
  <span class="rating-overall-icon__background" style={{this.backgroundStyle}} data-test-rating-overall-icon-background/>
</div>